<script type="text/javascript" src="~/OPCHTML/js/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/OPCHTML/js/lib/jquery.numberformatter-1.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        //$('#gateLinkid').css('visibility', 'hidden');
        $("#AirportWindow").kendoWindow({
            title: "MCT - Airport Termial Overview",
            draggable: false,
            modal: false,
            width: $("#splitter").width() - 244,
            height: $(".splitter-main").height() - 33,
            position: {
                top: $("#Header").height() + 2,
                left: 246
            },
            resizable: false
        });

        //removes all buttons from kendo window
        $('.k-window-titlebar').find('.k-window-actions').css('visibility', 'hidden');

        //delete the SignIn kendoWindow once loaded
        if ($('#pageData').is(':visible')) {
            $('#pageData').data('kendoWindow').destroy();
        };

        //if the splitter is already collapsed, expand the main window
        if ($('.splitter-stats').width() < 200) {
            $('body').find('.k-window').css('width', '+=200');
            $('body').find('.k-window').css('left', '-=200');
        };

        var tags = [];
        var rawScreens = '@Html.Raw(Json.Encode(TempData["Screens"]))';
        var screens = JSON.parse(rawScreens);

        var airportAlarms = [];
        var airportWarnings = [];
        var airportMasterAlarms = [];
        var columnDef = [
                            { name: "AlarmID", text: "Alarm ID", type: "string", visible: false },
                            { name: "AlarmDateTime", text: "Alarm Date/Time", type: "datetime", visible: true, sort: 'desc', width: '120px', searchable: false },
                            { name: "Active", text: "Active", type: "boolean", visible: true, width: '40px', align: 'center' },
                            { name: "AlarmValue", text: "Alarm Value", type: "string", visible: false, align: 'right' },
                            { name: "Text", text: "Text", type: "string", visible: true },
                            { name: "AlarmType", text: "Alarm Type", type: "string", visible: true, width: '40px'},
                            { name: "Priority", text: "Priority", type: "string", visible: true, width: '40px', align: 'right' }
                        ]

        for (i = 0; i < screens.length; i++) {
            var gateNumber = screens[i].Gate;
            airportAlarms.push(gateNumber + "_PBB_ALARMS");
            airportAlarms.push(gateNumber + "_PCA_ALARMS");
            airportAlarms.push(gateNumber + "_GPU_ALARMS");
            airportWarnings.push(gateNumber + "_PBB_WARNINGS");
            airportWarnings.push(gateNumber + "_PCA_WARNINGS");
            airportWarnings.push(gateNumber + "_GPU_WARNINGS");
            airportMasterAlarms.push(gateNumber + "_PBB_ALARMS");
            airportMasterAlarms.push(gateNumber + "_PCA_ALARMS");
            airportMasterAlarms.push(gateNumber + "_GPU_ALARMS");
        }

        // set up moitoring of AC and Gate tags, and firing callback on data refresh
        OPC.tags = [];
        OPC_config.watch_tags = [];
        OPC_config.tag_prefix = "Airport." + "@TempData["ClientAbbr"]" + ".Term1.";
        OPC_config.refresh_callback = opc_airport_callback;
        OPC_config.watch_tags = tags;
        OPC_config.alarm_bindings = [
            {
                alarmid: "AirportAlarms",
                callback: updateAirportAlarms,
                showInfo: false,
                showHistory: false,
                showSearch: false,
                height: 200,
                filter: { alarmtypes: ["Digital"], alarmgroups: airportAlarms},
                columns: columnDef
            },{
                alarmid: "AirportWarnings",
                callback: updateAirportWarnings,
                showInfo: false,
                showHistory: false,
                showSearch: false,
                height: 200,
                filter: {alarmtypes: ["Digital"], alarmgroups: airportWarnings},
                columns: columnDef
            },{
                alarmid: "AirportMasterAlarms",
                callback: updateMasterAirportAlarms,
                showInfo: false,
                showHistory: false,
                showSearch: false,
                height: 200,
                filter: {alarmtypes: ["Digital"], alarmgroups: airportMasterAlarms},
                columns: columnDef
            }
        ];

        tags.push("Airport.MCT.Term1.RTUAutoOnLeadTime.Value");
        for (i = 0; i < screens.length; i++) {
            var gateNumber = screens[i].Gate;
            var zoneNumber = screens[i].Zone;
            var pre = "Zone" + zoneNumber + ".Gate" + gateNumber + ".";
            tags.push(pre + "PBB.AIRCRAFTDOCKEDCALCULATION.Value");                  // aircraft is docked
            tags.push(pre + "PBB.LoggedOn.Value");                  // show green
            tags.push(pre + "PBB.Parked.Value");                  // show green
            tags.push(pre + "PBB.AircraftSubType.Value")            // Show Jumbo Graphics
        }

        $(".gate_fire").hide();
        OPC.init(); //required for ajax calls in OPC

        $('#menuItemUserAdmin').css('display', ('@TempData["AuthLevel"]' > 3 ? 'list-item' : 'none'));
        $("#menuItemRTUAutoOnSP").css('display', ('@TempData["AuthLevel"]' > 3 ? 'list-item' : 'none'));
    });

    function get_value(tag) {
        var tagTemp = tag + (tag.endsWith(".Value") ? "" : ".Value");
        if (!OPC.tags[tagTemp.replace(".Value", "")].props["Value"].quality) {
            return null;
        }
        return OPC.get_value(tagTemp);
    }

    function get_bool(tag) {
        var tagTemp = tag + (tag.endsWith(".Value") ? "" : ".Value");
        if (!OPC.tags[tagTemp.replace(".Value", "")].props["Value"].quality) {
            return null;
        }

        var b = OPC.get_value(tagTemp);
        if (b && b == "True") return true;
        if (b && b == "False") return false;
        return null;
    }

    // Show and hide images based on gate/aircraft status
    //   Wide Gate will be shown ONLY if both L and R gate DoorPositions are set to "Wide"
    //   Aircraft will display only if AircraftSubType is set to Wide or Narrow for gate
    //   Wide aircraft will display ONLY if both gates are showing "Wide" for AircraftSubType
    function check_gate_images(zone, gate) {
        var pre = OPC_config.tag_prefix + "Zone" + zone + ".Gate" + gate + ".PBB.";
        var is_parked = get_bool(pre + "Parked.Value");             // check for parked and default plane type to NARROW
        var airCraftType = get_value(pre + "AircraftSubType.Value");
        if(airCraftType == null || is_parked == null || is_parked) {
            airCraftType = "NARROW";
        }
        
        var show_wide = (airCraftType.toUpperCase().indexOf("WIDE") >= 0) ? true : false;
        var show_ac = get_bool(pre + "AIRCRAFTDOCKEDCALCULATION.Value");            // aircraft is docked
        var show_g = get_bool(pre + "LoggedOn.Value");              // show green
        var show_o = get_bool(pre + "AIRCRAFTDOCKEDCALCULATION.Value");             // show orange

        $("#Gate_" + gate + "_Plane").removeClass(function (index, css) {
            return (css.match(/\bnot_docked/g) || []).join(' ');
        });
        $("#Gate_" + gate + "_Status").removeClass(function (index, css) {
            return (css.match(/\bstat-[a-zA-Z]\S+/g) || []).join(' ');
        });
        var imgPath = $('#building').css('content').match(/(.*url[(]*\")(.*)(\Images)/)[2];
        $("#Gate_" + gate + "_Status").css({ 'content': 'url(' + imgPath + 'Images/Airport/mct-gate' + gate + (show_wide ? '-wide' : '') + '-idle.png)' , 'display' : 'inline' });

        if (show_ac != null && show_g != null && show_o != null) {   // removed csw20160211:  && show_r != null && show_y != null
            $("#Gate_" + gate + "_Plane").css( (show_ac ? { 'content' : 'url(' + imgPath + 'Images/Airport/mct-gate' + gate + (show_wide ? '-wide' : '') + '-plane.png)' , 'display' : 'inline' } : { 'content' : 'none' , 'display' : 'none' }));
            //$("#Gate_" + gate + "_Plane").addClass("img gate_plane g" + gate + "_no_ac");
            switch (true) {
                case show_o:
                    $("#Gate_" + gate + "_Status").addClass("stat-docked");
                    break;
                case show_g:
                    $("#Gate_" + gate + "_Status").addClass("stat-logged");
                    break;
                default:
                    break;
            }
            updateAirportGateWarnings(zone, gate);
            updateAirportGateAlarms(zone, gate);
        }
        else {
            $("#Gate_" + gate + "_Plane").css({ "content": 'none', 'display': 'none' } );
            $("#Gate_" + gate + "_Status").addClass("stat-bq");
        }
    }

    function opc_airport_callback(data) {
        var rawScreens = '@Html.Raw(Json.Encode(TempData["Screens"]))';
        var screens = JSON.parse(rawScreens);

        for (i = 0; i < screens.length; i++)
        {
            var gateNumber = screens[i].Gate;
            var zoneNumber = screens[i].Zone;
            check_gate_images(zoneNumber, gateNumber);
        }
    }

    function CloseKendoAirport() {
        if ($('#AirportWindow').is(':visible')) {
            $('#AirportWindow').data('kendoWindow').destroy();
        }
    }

    function GoZone(zoneNumber,icon) {
        $.ajax({
            url: 'Zones/Zones/ShowZone',
            type: "GET",
            data: {
				clientName: "MCT",
                zoneNum: zoneNumber,
            },
            contentType: 'text/html',
            success: function (data) {
                CloseKendoAirport();
                $('#main-body').html(data);
                ChangeIcons(icon);
            }
        })
    }

    function GoZoneGate(zoneNumber, gateNumber, icon) {
        $.ajax({
            url: 'Gate/Gate/ShowGates',
            type: "GET",
            data: {
                zoneNum: zoneNumber,
                gateNum: gateNumber
            },
            contentType: 'text/html',
            success: function (data) {
                CloseKendoAirport();
                $('#main-body').html(data);
                ChangeIcons(icon);
            }
        })
    }

    function updateMasterAirportAlarms() {
        var PriorityCol = -1;
        var alarmCnt = 0;
        var warningCnt = 0;
        PriorityCol = $('#AirportMasterAlarmWindow th:contains("Priority")').index();
        if (PriorityCol > -1) {
            $('#AirportMasterAlarmWindow tr').not('thead tr').each(function (idx, row) {
                if ($(this).children('td').length > 1) {
                    var cellData = $(this).find('td').eq(PriorityCol)[0].innerText;
                    alarmCnt = (cellData == 100) ? alarmCnt + 1 : alarmCnt;
                    warningCnt = (cellData == 0) ? warningCnt + 1 : warningCnt;
                }
            });
        }
        $("#MasterAlarmCount").html(alarmCnt + " Active<br /> Alarms");
        $("#MasterWarningCount").html(warningCnt + " Active<br /> Warnings");
    };

    function updateAirportAlarms() {
        var PriorityCol = -1;

        PriorityCol = $('#AirportAlarmWindow th:contains("Priority")').index();
        if (PriorityCol > -1) {
            $('#AirportAlarmWindow tr').not('thead tr').each(function (idx, row) {
                if ($(this).children('td').length > 1) {
                    var cellData = $(this).find('td').eq(PriorityCol)[0].innerText;
                    $('#AirportAlarmWindow th:contains("Priority")').hide();
                    $(this).find('td').eq(PriorityCol).hide();
                    switch (cellData) {
                        case '0':
                            $(this).addClass("WarningRow");
                            break;
                        case '100':
                            $(this).addClass("AlarmRow");
                            break;
                        default:
                            break;
                    }
                }
            });
        }
    };

    function updateAirportGateAlarms(zoneNumber, gateNumber) {
        var PriorityCol = -1;
        var TextCol = -1;
        var airCraftType = null;
        var show_wide = false;
        var alarmVal = false;

        PriorityCol = $('#AirportAlarmWindow th:contains("Priority")').index();
        TextCol = $('#AirportAlarmWindow th:contains("Text")').index();
        if (PriorityCol > -1) {
            $('#AirportAlarmWindow tr').not('thead tr').each(function (idx, row) {
                if ($(this).children('td').length > 1) {
                    var cellData = $(this).find('td').eq(PriorityCol)[0].innerText;
                    var cellTextData = $(this).find('td').eq(TextCol)[0].innerText;
                    alarmVal = (alarmVal || cellTextData.indexOf(gateNumber) >= 0) ? true : false;
                    $('#AirportAlarmWindow th:contains("Priority")').hide();
                    $(this).find('td').eq(PriorityCol).hide();
                    switch (cellData) {
                        case '0':
                            $(this).addClass("WarningRow");
                            break;
                        case '100':
                            $(this).addClass("AlarmRow");
                            break;
                        default:
                            break;
                    }
                }
            });
        }
        if (alarmVal) {
            $("#Gate_" + gateNumber + "_Status").removeClass(function (index, css) {
                return (css.match(/\bg[0-9]\S+/g) || []).join(' ');
            });
            airCraftType = get_value(OPC_config.tag_prefix + "Zone" + zoneNumber + ".Gate" + gateNumber + ".PBB.AircraftSubType.Value");
            airCraftType = airCraftType == null ? "NARROW" : airCraftType;
            show_wide = (airCraftType.toUpperCase().indexOf("WIDE") >= 0) ? true : false;
            $("#Gate_" + gateNumber + "_Status").addClass("g" + gateNumber + "_r" + ((show_wide) ? "_wide" : ""));
        }
    };

    function updateAirportWarnings() {
        var PriorityCol = -1;

        PriorityCol = $('#AirportWarningWindow th:contains("Priority")').index();
        TextCol = $('#AirportWarningWindow th:contains("Text")').index();
        if (PriorityCol > -1) {
            $('#AirportWarningWindow tr').not('thead tr').each(function (idx, row) {
                if ($(this).children('td').length > 1) {
                    var cellData = $(this).find('td').eq(PriorityCol)[0].innerText;
                    $('#AirportWarningWindow th:contains("Priority")').hide();
                    $(this).find('td').eq(PriorityCol).hide();
                    switch (cellData) {
                        case '0':
                            $(this).addClass("WarningRow");
                            break;
                        case '100':
                            $(this).addClass("AlarmRow");
                            break;
                        default:
                            break;
                    }
                }
            });
        }
    };

    function updateAirportGateWarnings(zoneNumber, gateNumber) {
        var PriorityCol = -1;
        var TextCol = -1;
        var airCraftType = null;
        var show_wide = false;
        var warningVal = false;

        PriorityCol = $('#AirportWarningWindow th:contains("Priority")').index();
        TextCol = $('#AirportWarningWindow th:contains("Text")').index();
        if (PriorityCol > -1) {
            $('#AirportWarningWindow tr').not('thead tr').each(function (idx, row) {
                if ($(this).children('td').length > 1) {
                    var cellData = $(this).find('td').eq(PriorityCol)[0].innerText;
                    var cellTextData = $(this).find('td').eq(TextCol)[0].innerText;
                    warningVal = (warningVal || cellTextData.indexOf(gateNumber) >= 0) ? true : false;
                    $('#AirportWarningWindow th:contains("Priority")').hide();
                    $(this).find('td').eq(PriorityCol).hide();
                    switch (cellData) {
                        case '0':
                            $(this).addClass("WarningRow");
                            break;
                        case '100':
                            $(this).addClass("AlarmRow");
                            break;
                        default:
                            break;
                    }
                }
            });
        }
        if (warningVal) {
            $("#Gate_" + gateNumber + "_Status").removeClass(function (index, css) {
                return (css.match(/\bg[0-9]\S+/g) || []).join(' ');
            });
            airCraftType = get_value(OPC_config.tag_prefix + "Zone" + zoneNumber + ".Gate" + gateNumber + ".PBB.AircraftSubType.Value");
            airCraftType = airCraftType == null ? "NARROW" : airCraftType;
            show_wide = (airCraftType.toUpperCase().indexOf("WIDE") >= 0) ? true : false;
            $("#Gate_" + gateNumber + "_Status").addClass("img gate_status g" + gateNumber + "_y" + ((show_wide) ? "_wide" : ""));
        }
    };

</script>

<div id="AirportWindow" class="Window-Container Airport-Window">
    <svg class="defs-only" style="display:none;">
        <filter id="svg-red" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix" values="0 1 0 0.5 0   0 0 0 0 0   0 0 0 0 0   0 0 0 1.5 0"></feColorMatrix>
        </filter>
        <filter id="svg-yellow" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix" values="0 0 0 1.1 0   0 0 0 1.1 0   0 0 0 0 0   0 0 0 1.5 0"></feColorMatrix>
        </filter>
        <filter id="svg-green" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix" values="0 0 0 0 0   0 0 0 0.6 0   0 0 0 0 0   0 0 0 1.5 0"></feColorMatrix>
        </filter>
        <filter id="svg-orange" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix" values="0 0 0 1.1 0   0 0 0 0.6 0   0 0 0 0 0   0 0 0 1.5 0"></feColorMatrix>
        </filter>
        <filter id="svg-ghost" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix" values="1 0 0 0 0   0 1 0 0 0   0 0 1 0 0   -0.9 -1 -0.9 1.5 0"></feColorMatrix>
        </filter>
        <filter id="svg-gray" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix" values="0 3 1 0 0   0 3 1 0 0   0 3 1 0 0   0 0 0 1 0"></feColorMatrix>
        </filter>
    </svg>
    <div id="gates_container">
        <img id="building" class="img" />
        <img id="gates_nc" class="img" />
        
        @{
            List<object> screens = (List<object>)TempData["Screens"];
            foreach (object scr in screens)
            {
                var zoneNumber = scr.GetType().GetProperty("Zone").GetValue(scr, null).ToString();
                var gateNumber = scr.GetType().GetProperty("Gate").GetValue(scr, null).ToString();
                <img id="Gate_@(gateNumber)_Plane" class="img gate_plane" />
                <img id="Gate_@(gateNumber)_Status" class="img gate_status" />
            }
        }

        <!-- gate links  -->
        <div id="gateLinkid" >
            @{
                foreach (object scr in screens)
                {
                    var zoneNumber = scr.GetType().GetProperty("Zone").GetValue(scr, null).ToString();
                    var gateNumber = scr.GetType().GetProperty("Gate").GetValue(scr, null).ToString();
                    var displayName = scr.GetType().GetProperty("DisplayName").GetValue(scr, null).ToString();
                    var displayOrder = scr.GetType().GetProperty("DisplayOrder").GetValue(scr, null).ToString();
                    <a id="gate@(gateNumber)" class="gate_link" onclick="GoZoneGate('@(zoneNumber)', '@(gateNumber)', @(displayOrder))">Gate @(gateNumber) </a>
                }
            }
        </div>        
    </div>
    <div id="AirportAlarmWindow">
        <div id="AirportAlarms"></div>
    </div>
    <div id="AirportWarningWindow" style="display: none">
        <div id="AirportWarnings"></div>
    </div>
</div>
<div id="AirportMasterAlarmWindow" style="display: none">
    <div id="AirportMasterAlarms"></div>
</div>
